@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0A0A0F;
  --foreground: #F5F5F7;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
